:root {
    --nor_red: rgba(186, 12, 47, 10);
    --nor_blue: rgba(0, 32, 91, 1);

    --accent-pink: #ef476f;
    --accent-yellow: #ffc847;
    --accent-blue: #0e7395;

    --background-clr: #ebfef9;
    --card-clr: #ffd61f;
    --font-clr: black;
    --img-bg-clr: var(--background-clr);
}

.main-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-grow: 6;
}

.main-index-title-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.title-bar {
    width: 100%;
    height: 0.7rem;
    margin: 0.5rem auto 1rem auto;
    background-color: black;
    border: black 2px solid;
}

body.ole {
    max-width: 100%;
    overflow-x:hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.ole.svg-container {
    justify-content: center;
}

.paragraph-container > p {
    font-size: smaller !important;
}

.ole .center-title-container {
    display: block;
    margin: auto;
    text-align: center;
    width: fit-content;
}

.ole .main-paragrap-container {
    margin: auto;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    order: 4;
    flex-grow: 4;
    justify-content: center;
    column-gap: 0.5rem;
}

.ole .paragraph-container {
    max-width: 20%;
    margin: 0 0.5rem 0 0.5rem;
    padding: 1%;
}

.ole .canvas-container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}

.felles-canvas-svg {
    height: 15rem;
    margin: auto;
    background-color: var(--img-bg-clr);
    border: #573d1c solid 5px;
    border-radius: 10px;
    padding: 20px;
}

mark.underline {
    background-color: rgba(0, 0, 0, 0);
    text-decoration-line: underline;
    text-decoration-thickness: 10%;
    text-decoration-color: var(--nor_red);
}

@keyframes move-circle {
    from { left: -10%; }
    to { left: 110%;}
}

.ole#moving {
    width: 100px;
    height: 100px;
    position: relative;
    animation: move-circle 5s infinite;
    animation-direction: alternate;
    bottom: -80%;
}

.ole.link-div {
    background-color: white;
    text-align: center;
    margin: auto;
    width: fit-content;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: var(--nor_red) solid 5px;
    animation: link-animation 1.5s infinite linear;
}

.ole.link, .ole.link:active, .ole.link:visited {
    color: var(--nor_blue);
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: -0.5rem -1rem -0.5rem -1rem;
}

.felles-link, .felles-link:visited, .felles-link:link {
    color: var(--card-clr);
    text-decoration: none;
}

* {
    box-sizing: border-box;
}



body {
    font-family: Arial;
    padding: 20px;
    background-color: var(--background-clr);
    margin: 0;
    overflow-x:hidden;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: var(--card-clr);
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: var(--card-clr);
    padding: 20px;
    margin-top: 20px;
    color: var(--font-clr);
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.8) 3px 3px 1px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: var(--card-clr);
    margin-top: 20px;
    border-radius: 10px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

.github {
    background-color: #573d1c;
    color: var(--card-clr);
}