:root {
    --nor_red: rgba(186, 12, 47, 10);
    --nor_blue: rgba(0, 32, 91, 1);
}

.main-links {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    justify-content: left;
}

.main-index-title-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.title-element {
    width: 100%;
    height: 20px;
    margin-bottom: 1rem;
}

body.ole {
    max-width: 100%;
    overflow-x:hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.paragraph-container > p {
    font-size: smaller !important;
}

.ole .center-title-container {
    display: block;
    margin: auto;
    text-align: center;
    width: fit-content;
}

.ole .main-paragrap-container {
    margin: auto;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    order: 4;
    flex-grow: 4;
    justify-content: center;
    column-gap: 0.5rem;
}

.ole .paragraph-container {
    max-width: 20%;
    margin: 0 0.5rem 0 0.5rem;
    padding: 1%;
}

.ole .canvas-container {
    margin: auto;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    order: 4;
    flex-grow: 4;
    justify-content: center;
    column-gap: 2rem;
}

#ole {
    width: 15rem;
    height: 15rem;
    margin: auto;
}

mark.underline {
    background-color: rgba(0, 0, 0, 0);
    text-decoration-line: underline;
    text-decoration-thickness: 10%;
    text-decoration-color: var(--nor_red);
}

@keyframes move-circle {
    from { left: -10%; }
    to { left: 110%;}
}

#moving {
    width: 100px;
    height: 100px;
    position: relative;
    animation: move-circle 5s infinite;
    animation-direction: alternate;
}

.ole .rect {
    width: 100%;
    height: 100px;   
}

.ole .link {
    background-color: white;
    text-align: center;
    margin: auto;
    width: fit-content;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: var(--nor_red) solid 5px;
}

.link a, .link a:active, link a:visited {
    color: var(--nor_blue);
    font-size: large;
    font-weight: bold;
    text-decoration: none;  
}