:root {
    --background-clr: white;
    --card-clr: #EEEEEE;
    --font-clr: black;
    --img-bg-clr: var(--background-clr);
    --right-clr: #393E46;
    --box-shadow: rgba(0,0,0,0.8) 3px 3px 1px;
    --box-shadow-button: rgba(0,0,0,0.8) 2px 2px 1px;
    --box-shadow-after: rgba(0,0,0,0.8) 3px 3px 1px;
    --header-clr: #222831;
    --footer-clr: #222831;
    --button-clr: #00adb5;
}

.felles-canvas-svg {
    max-height: 100%;
    max-width: 100%;
    border: black solid 3px;
    border-radius: 10px;
}

@keyframes move-circle {
    from { top: 5%; }
    to { top: 250%;}
}

@keyframes move-circle-small {
    from { left: 0; }
    to { left: 85%; }
}

.felles-link, .felles-link:visited, .felles-link:link {
    color: var(--font-clr);
    text-decoration: none;
    border: 2px var(--font-clr) solid;
    background-color: var(--card-clr);
    padding: 0.6rem;
    border-radius: 10px;
    box-shadow: var(--box-shadow-button);
}

.felles-link:hover {
    background-color: var(--button-clr);
    box-shadow: var(--box-shadow-after);
    transform: translate3d(0, 0, 0);
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 20px;
    background-color: var(--background-clr);
    margin: 0;
    overflow-x:hidden;
}

/* Header/Blog Title */
.header {
    color: var(--card-clr);
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: var(--header-clr);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

/* Venstre kolonne */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Høyre kolonne */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Kort for "artikler" */
.card {
    background-color: var(--card-clr);
    padding: 20px;
    margin-top: 20px;
    color: var(--font-clr);
    border-radius: 10px;
    border: 2px solid transparent;
    box-shadow: var(--box-shadow);
}

.card:hover {
    border: 2px solid var(--header-clr);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Bunnkort */
.footer {
    padding: 20px;
    text-align: center;
    color: var(--card-clr);
    background: var(--footer-clr);
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

.right-column {
    background-color: var(--right-clr);
    color: var(--card-clr);
}
